<!DOCTYPE html>
<html>
    <head>
        <mata charset="utf-8"/>
        <title>403 Forbidden</title>
    </head>
    <body>
        <img src="/static/403.png" alt="403 error picture"/>
        <p>You are requesting <strong>{{ request_path }}, </strong>but some secrets</p>
        <p>of our site were in this site.</p>
        <p>Or, here are some data of other user's.</p>
        <br/>
        <p>You can't see these secrets because we are using magic power to protect it.</p>
        <p>Every users data is safe. Except thier user, they couldn't be found.</p>
        <p>--Include <strong>You</strong>!</p>
    </body>
</html> 