<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>一个非常棒的网页</title>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>    
    <body>
        <h1>Howard's Great Website</h1>
        <p>Hello! We are developing <strong>interesting</strong> and <strong>useful</strong> apps.</p>

        <p>Avalible apps:<br/>
        <a href="/polls/">polls app</a><br/>
        <a href="/funnymanga/">watch funny mangas</a>
        </p>

        <br/><br/><hr/>
        <p style="text-align:center"></p><br/>
        <footer>If you find bugs, please <a href="mailto:howardqiuhao@qq.com">contact the admin</a>.
            Copyright ©2023 Howard all rights reserved.</footer>
    </body>    
</html>
